@import "theme";
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: $font-color;
}

html {
  font-size: 1em;
  line-height: 1.4;
  font-family: $font-default;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: none;
  text-shadow: none;
}

::selection {
  background: none;
  text-shadow: none;
}
textarea {
  resize: none;
}
textarea:focus, input:focus, button:focus{
   outline: 0;
 }
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
 * Layout
 */
.container{
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 3%;
  padding-right: 3%;
}
.header{
  height: 7em;
  width: 100%;
  background-color: $dark;
  .logo{
    padding-top: 1em;
    color: $light;
    margin-bottom: 0.5em;
    font-family: $font-beautiful;
    font-size: 1.5em;
  }
  ul.authors{
    li{
      display: inline-block;
      margin-right: 3.9em;
      font-size: 0.9em;

      color: $light;
    }
    li:last-child{
      margin-right: 0;
    }
  }
}

.content{
  .container{
    max-width: 700px;
  }
  .question{
    height: 23em;
    background-color: $background-color;
    padding-top: 5em;
    textarea{
      font-size: 1.5em;
      text-align: center;
      margin: 0 auto;
      border: $border-default;
      width: 100%;
      display: block;
      height: 9em;
      padding-top: 1.7em;
      margin-bottom: 1.2em;
      color: #757575;
    }
  }
  .answer{
    height: 21em;
    padding-top: 5em;
    text-align: center;
    .quote{
      margin-bottom: 2em;
      font-size: 1.5em;
    }
    hr{
      width: 70%;
      border: 1px solid #8b8b8b;
      -webkit-transform: scaleX(0);
      margin-bottom: 2em;
      -webkit-transition: -webkit-transform 0.5s ease-in;
    }
    .author{
      .pic{
        -webkit-transition: all 0.5s cubic-bezier(0.110, 0.555, 0.210, 1.000) 0.6s;
        background: url('../img/borhes.png') no-repeat;
        background-size: 100%;
        width: 4em;
        height: 4em;
        margin: 0 auto;
        border-radius: 2em;
        margin-bottom: 2em;
        opacity: 0;
        -webkit-transform: scale(0);
      }
      .title{
        -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.600, 0.010, 0.000, 1.650) 0.9s;
        -webkit-transform: rotateX(90deg);
        -webkit-transform-origin: 0% 0%;

        font-size: 1em;
        .name{
          font-weight: bold;
        }
      }
    }


    .container{
      max-width: 700px;
    }
  }

  .answer.show{
    hr{
      -webkit-transform: scaleX(1);
    }
    .author{
      .pic{
        opacity: 1;
        -webkit-transform: scale(1);

      }
      .title{
        -webkit-transform: rotateX(0deg);
      }
    }
  }
}


.footer{

}

.btn{
  height: 3em;
  line-height: 3em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  color: $light;
  border: none;
  border-radius: 10px;
  background-color: $mark;
  display: block;
}
.btn.ask{
  margin: 0 auto;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}
@media (max-width: 1024px) {

  .header{
    .logo{
      margin-bottom: 0.1em;
    }
  }
}

@media (max-width: 570px) {
  .header{
      ul.authors{
        display: none;
      }
  }
}
@media (max-width: 400px) {
  html{
    font-size: 0.7em;
  }
}