$font-default: 'Roboto', sans-serif;
$font-beautiful: 'Lobster', cursive;
$border-default: 1px solid #eaeaea;
$font-color: #56585b;
$background-color: #f4f4f4;
$dark: #292d32;
$light: #f5f5f5;
$mark: #db5e5a;
$mark-light: #edaeac;
